.row-questions {
  width: 0 auto;
  margin-left: 180px;
  margin-right: 180px;
}

.questions {
  max-height: 400px;
  overflow: scroll;
}

.each-question {
 border-bottom: 1px solid $pink;
 padding-top: 18px;
 padding-bottom: 10px;
 font-family: $headers-font;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.questions-profile-image {
  padding-right: 2px;
  align-items: center;
  // display: block;
  // margin: auto;
}

.questions-question {
  align-items: center;
  p {
    font-size:18px;
    margin:0px;
  }
}
.questions-question a {
  text-decoration: none;
  color: $black;
}

.questions-view-icon {
  font-size: 20px;
  align-items: center;
}

.questions-button {
  padding-top: 20px;
}

.form-forum {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
}

.form-control-question {
 width:500px;
}
