.reviews {
  position: relative;
}

.profile-image {
  position: absolute;
}

.nickname {
  color: $pink;
  margin: 0;
}

.reviews-info {
  margin-left: 60px;
}

.reviews-text {
  font-size: 12px;
}

