textarea.form-control {
    height: 40px;
    width: 224px;
}

.input-height {
  height: 40px;
}

#new_answer {
  display: flex;
}

.post {
  height: 40px;
  width: 80px;
}

.reviews-text {
  margin-left: 55px;
  margin-bottom: 31px;
}
