.reviews {
  max-height: 300px;
  overflow: scroll;
}

.profile-image {
  position: absolute;
}

.nickname {
  color: $pink;
  margin: 0;
  font-size: 20px;
}

.reviews-info {
  margin-left: 60px;
  p {
    font-size: 16px;
  }
}

.reviews-text {
  font-size: 14px;
}

@media(max-width: 767px) {
  .container {
    padding-right: 0;
  }

  .row {
    margin: 0 10px;
  }

  .reviews {
    margin-top: 40px;
  }
}
