<div class="container">
  <div class="page-title">
    <h2>MY BOOKINGS</h2>
  </div>
  <div class="row">
    <div class="col-8">
        <%= @bookings.each do |booking| %>
          <div class="row">
            <%= booking.activity.name %>
          </div>
        <% end %>
    </div>
    <div class="col-4">
      <p>Picture</p>
    </div>
  </div>
  <div class="btn btn-primary">
    Submit
  </div>
  <br>
  <br>
  <div class="btn btn-success">
    Submit
  </div>
</div>
