<div class="container mt-4">
  <div class="footer-container pt-2">
    <div class="copyright">
      <p style="font-size: 14px; font-family: $body-font;">Made with <i class="fas fa-heart" ></i> by Camilla, Bruna, José and Patricia</p>
    </div>
    <div class="footer-links">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="https://github.com/PatriciaZB/SURVIVORS"><i class="fab fa-github"></i></a>
    </div>
  </div>
</div>
