<div class="container mt-4">
  <div class="footer-container pt-2">
    <div class="copyright">
      <p>Copyright ©</p>
    </div>
    <div class="social-media">
          <%= link_to "Contact", "#", class: "footer-link" %>
          <%= link_to "Impressum", "#", class: "footer-link" %>
    </div>
  </div>
</div>
