<div class="container ">
  <div class="activity-title">
        <div><h2 class="title" data-content="About us">About us</h2></div>
      </div>
  <div class="container-about-us">
    <div class="flex">
      <div class="card-about-us">
        <%= image_tag("Patricia.jpg", class: "image-about-us") %>
        <div class="flex">
          <h3>Patricia Zegarra</h3>
          <p>Full Stack Developer</p>
        </div>
      </div >
      <div class="card-about-us">
        <%= image_tag("Julio.jpg", class: "image-about-us")   %>
        <div class="flex">
          <h3>José Júlio Ferreira</h3>
          <p>Full Stack Developer</p>
        </div>
      </div>
      <div class="card-about-us">
        <%= image_tag("Bruna.jpg", class: "image-about-us") %>
        <div class="flex">
          <h3>Bruna Portugal</h3>
          <p>Full Stack Developer</p>
        </div>
      </div>
      <div class="card-about-us">
        <%= image_tag("Camilla.jpg", class: "image-about-us") %>
        <div class="flex">
          <h3>Camilla Murgia</h3>
          <p>Full Stack Developer</p>
        </div>
      </div>
    </div>
    <div>
     <h1>Hello</h1>
    </div>
  </div>
</div>
