<div class="container ">
  <div class="activity-title">
        <div><h2 class="title" style="margin-bottom: 37px;" data-content="About us">About us</h2></div>
      </div>
  <div class="container-about-us">
    <div class="flex">
      <div class="card-about-us">
        <%= image_tag("Patricia.jpg", class: "image-about-us") %>
        <div class="info">
          <h3>Patricia Zegarra</h3>
          <p>Full Stack Developer</p>
           <strong> <p style="font-size:14px;">From Peru</p></strong>
        </div>
      </div >
      <div class="card-about-us">
        <%= image_tag("Julio.jpg", class: "image-about-us")   %>
        <div class="info">
          <h3>José Júlio Ferreira</h3>
          <p>Full Stack Developer</p>
          <strong> <p style="font-size:14px;">From Portugal</p></strong>
        </div>
      </div>
      <div class="card-about-us">
        <%= image_tag("Bruna.jpeg", class: "image-about-us") %>
        <div class="info">
          <h3>Bruna Portugal</h3>
          <p>Full Stack Developer</p>
          <strong> <p style="font-size:14px;">From Brazil</p></strong>
        </div>
      </div>
      <div class="card-about-us">
        <%= image_tag("Camilla.jpg", class: "image-about-us") %>
        <div class="info">
          <h3>Camilla Murgia</h3>
          <p>Full Stack Developer</p>
           <strong> <p style="font-size:14px;">From Italy</p></strong>
        </div>
      </div>
    </div>
    <div class="content-about-us">
     <h1>Hello</h1>
    </div>
  </div>
</div>
