<div class="container">
  <div class="flex">
    <div class="card-about-us">
      <%= image_tag("Patricia.jpg") %>
      <div class="flex">
        <h3>Patricia Zegarra</h3>
        <p>Full Stack Developer</p>
      </div>
    </div >
    <div class="card-about-us">
      <%= image_tag("Julio.jpg")   %>
      <div class="flex">
        <h3>José Júlio Ferreira</h3>
        <p>Full Stack Developer</p>
      </div>
    </div>
    <div class="card-about-us">
      <%= image_tag("Bruna.jpg") %>
      <div class="flex">
        <h3>Bruna Portugal</h3>
        <p>Full Stack Developer</p>
      </div>
    </div>
    <div class="card-about-us">
      <%= image_tag("Camilla.jpg") %>
      <div class="flex">
        <h3>Camilla Murgia</h3>
        <p>Full Stack Developer</p>
      </div>
    </div>
  </div>
  <div>
   <h1>Hello</h1>
  </div>
</div>
