<div class="container">
  <div class="row d-flex justify-content-between">
    <div class="col-5 mt-5 pl-3">
        <%= image_tag("survivors.png", class: "homepage-logo", :alt => "map") %>
      <div class="title-slogan mt-2">
        <h1>SURVIVORS</h1>
        <h3>You deserve <span class="special-word">happiness</span></h3>
      </div>
      <div class="homepage-text mt-2">
        <p>Nostrud ullamco quis sunt occaecat proident eu aliquip enim eu sunt id magna anim minim. Id sint est minim ipsum do voluptate enim duis cupidatat deserunt Lorem dolore.</p>
      </div>
      <div class="homepage-button mt-3">
        <%= link_to "Find support", "/activities/", class: "btn btn-primary" %>
      </div>
    </div>
    <div class="col-6">
      <div class="homepage-image-div position-relative">
        <div class="homepage-banner">
          <p><span class="banner-title">Community</span></p>
          <p>Nostrud ullamco quis sunt occaecat proident eu aliquip enim eu sunt id magna anim minim.</p>
        </div>
      </div>

    </div>
  </div>
</div>

