.card {
  background: transparent;
  border-top: none;
  border-bottom: 1px solid $pink;
  border-left: none;
  border-right: none;
  display: flex;
  justify-content: space-between;
  height: 150px;
  width: 100%;
  flex-wrap: wrap;
}
.card-image img {
  // width: 150px;
  height: 100%;
  object-fit: cover;
  display:wrap;
}

.card-body {
  display: wrap;
  padding-top: 1px;
}

.card-text {
  flex-wrap: wrap;
}

// .card-container {
//   width: 100%;
//   margin: 0px;
//   flex-wrap: wrap;
//   display: flex;
// }
