.footer-container {
  border-top: 1px solid $pink;
  display: flex;
  justify-content: space-between;
}

.footer-links {
  display: flex;
}

.footer-links a {
  font-family: "Fjalla One";
  color: $black;
  font-size: 16px;
  padding: 0px 10px;
}

.footer-links a:hover {
  text-decoration: none;
  color: $pink;
}

.copyright {
 font-family: "Fjalla One";
 font-size: 16px;
}
