.form-input {
  background-color: $beige;
}

.form-control {
  background-color: #f7f6f4;
  border: 1px solid $pink;
  border-radius: 5px;
  margin-right: 16px;
}

.form-horizontal {
  display:flex;
  padding-right: 160px;
}

.new_review {
  width: 500px;
}

.form-data {
  background-color: #f7f6f4;
  border: 1px solid $pink;
  border-radius: 5px;
  width: 170px;
}

textarea.form-control {
  width: 100% !important;
  // height: 40px;
  // left: 0;
  // margin-left: 255px;
}

textarea#answer_answer.form-control {
  width: 43vw !important;
  background-color: $beige;
}

.rating {
  select.form-control {
    width: 100% !important;
  }
}

.review {
  textarea.form-control {
  width: 100% !important;
}
}
