.special-word {
  color: $pink;
}

.homepage-text > p {
  font-size: 1vw;
}

.title-slogan > h1 {
  font-size: 4vw;
  margin-bottom: 0.1rem;
}

.title-slogan > h3 {
  font-size: 2vw;
}

.homepage-logo {
  width: 60%;
  margin-top: 5px;
}

.container {
  position: relative;
}

.homepage-black-circle {
  background-color: $black;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: -1;
  position: absolute;
  margin-left: -53px;
  margin-top: 11px;
}

.homepage-pink-circle {
  background-color: $pink;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: -1;
  position: absolute;
  margin-left: -116px;
  margin-top: 52px;
}

.carousel {
  position: relative;
}

.carousel-item {
  left: 50px;
  width: 90%;
}


.carousel-indicators {
  position: absolute;
  width: 50px;
  top: 20px;
  left: -62px;
  transform: rotate(90deg);
  li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
}

.homepage-banner {
  background-color: $pink;
  padding: 8px 15px;
  border-radius: 4px;
  position: absolute;
  bottom: 20px;
  left: -40px;
  width: 90%;
}

.banner-title {
  font-weight: bold;
  font-size: 1.5vw;
  color: white;
  margin-bottom: 6px;
  display:block;
}

.banner-content {
  color: white;
  font-size: 1vw;
  text-align: initial;
  margin: 0;
}

.homepage-image-div {
  background-image: asset-url("home_pic");
  width: 100%;
  height: 100%;
  background-size: cover;
  margin-right: 14px;
  padding-right: 0;
  border-radius: 6px;
  box-shadow: 0 0px 4px rgba(0,0,0,0.2);
  z-index: 950;
  margin: auto;
}

.homepage-button > .btn.btn-primary {
  font-size: 1.5vw;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .carousel-indicators {
  top: 50%;
  left: -340px;
  li {
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }
  }

  .carousel-item {
  left: 25px;
  width: 90%;
  padding-bottom: 0;
    p {
      margin-bottom: 2px;
    }
  }

  .banner-title {
  padding-bottom: 5px;
  font-size: 2vw;
  }

  .banner-content {
    font-size: 1.5vw;
  }

  .text-logo {
    margin-left: 75px;
    margin-bottom: 10px;
  }

  .homepage-logo {
    width: 60%;
    margin-left: 45px;
    margin-bottom: 20px;
  }

  .homepage-image-div {
    width: 80%;
    height: 600px;
    margin-top: 20px;
  }

  .homepage-black-circle {
    width: 90px;
    height: 90px;
    margin-left: 25px;
    margin-top: 30px;
  }

  .homepage-pink-circle {
    width: 170px;
    height: 170px;
    margin-left: -26px;
    margin-top: 52px;
  }

  .homepage-text {
    width: 80%;
  }

  .homepage-text > p{
    font-size: 2vw;
  }

  .homepage-button > .btn.btn-primary {
  font-size: 2.5vw;
  }

  .homepage-banner {
    width: 70%;
  }
}

@include media-breakpoint-down(sm) {
  .carousel-indicators {
  top: 50%;
  left: -190px;
  li {
    width: 4px;
    height: 4px;
    border-radius: 50%;
  }
  }

  .carousel-item {
  left: 25px;
  width: 90%;
  padding-bottom: 0;
    p {
      margin-bottom: 2px;
    }
  }

  .banner-title {
  padding-bottom: 5px;
  font-size: 3vw;
  }

  .banner-content {
    font-size: 2vw;
  }

  .homepage-banner {
    width: 110%;
  }

  .text-logo {
    margin-left: 75px;
    margin-bottom: 10px;
  }

  .homepage-logo {
    width: 60%;
    margin-left: 45px;
    margin-bottom: 20px;
  }

  .homepage-text {
    width: 80%;
  }

  .homepage-text > p{
    font-size: 2vw;
  }

  .homepage-button > .btn.btn-primary {
  font-size: 2.5vw;
  }

  .homepage-image-div {
    margin-top: 20px;
    width: 70%;
    height: 400px;

  }

  .homepage-black-circle {
    width: 70px;
    height: 70px;
    margin-left: 40px;
    margin-top: 25px;
  }

  .homepage-pink-circle {
    width: 150px;
    height: 150px;
    margin-left: 0px;
    margin-top: 62px;
  }
}

@include media-breakpoint-down(xs) {
  .text-logo {
    margin-left: 55px;
  }

  .homepage-logo {
    width: 60%;
    margin-left: 25px;
    margin-bottom: 5px;
  }

  .homepage-image-div {
    margin-top: 20px;
    width: 70%;
    height: 300px;
  }

  .homepage-black-circle {
    width: 40px;
    height: 40px;
    margin-left: 30px;
    margin-top: 25px;
  }

  .homepage-pink-circle {
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-top: 40px;
  }

  .homepage-text {
    width: 80%;
  }

  .homepage-text > p{
    font-size: 2vw;
  }

  .homepage-button > .btn.btn-primary {
  font-size: 2.5vw;
  }
}
