.dashboard-table {
  border-bottom: 1px solid $pink;
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  border-spacing: 2px;
  width: 100%;
  margin-bottom: 1rem;
  color: #0C151D;

}

