.activity-title-white {
  position: relative;
  color: $white;
  font-style: normal;
  &:before {
    content: '';
    width: 85px;
    height: 85px;
    position: absolute;
    border-radius: 50%;
    background-color: #0C151D;
    z-index: -1;
    top: -16px;
    left: 46px;
  }
}

.activity-title {
  font-family: 'Oxygen', sans-serif;
  font-size: 36px;
  font-weight: 300;
  position: relative;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 30px 0px 30px 10px;
  text-decoration: none;
  &:before {
    content: '';
    width: 120px;
    height: 120px;
    position: absolute;
    border-radius: 50%;
    background-color: $pink;
    z-index: -1;
    top: -35px;
    left: -20px;
  }

}
