<div class="container">
  <div class="d-flex flex-row justify-content-between align-items-baseline">
    <div class=" col-sm-12 col-md-4 mb-3">
      <div class="activity-title">
        <div> <h2 class="title" data-content="Activities">Activities</h2></div>
      </div>
    </div>
    <div class="searchbar col-sm-12 col-md-8">
      <%= render 'search_form' %>
    </div>
  </div>
  <div class="row">
    <div class="cards-list col-sm-12 col-md-7" style=" margin-top: 5px;">
      <%= render collection: @activities, partial: "activity", as: :activity %>
      <%# @activities.each do |activity| %>
        <%#= render 'activity', activity: activity %>
      <%# end %>
    </div>
    <div class="col-sm-12 col-md-5" style="margin-top: 5px;">
      <div id="map" style="width: 100%; height: 600px; border: 4px solid; border-color: #CE796B ;border-radius: 17px"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
